# Telegram Bot API token
TELEGRAM_BOT_TOKEN=

# Telegram chat ID of the administrator
ADMIN_CHAT_ID=

# SOCKS5 proxy URL
PROXY_URL=

# TCP port for incoming smart meter PUSH messages
PUSH_SERVER_PORT=23224
